@font-face {
    font-family: firma;
    src: url('/frima_font/BRFirma-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: firma;
    src: url('/frima_font/BRFirma-Medium.ttf');
    font-weight: 500
}

@font-face {
    font-family: firma;
    src: url('/frima_font/BRFirma-Bold.ttf');
    font-weight: 800
}

@font-face {
    font-family: firmaBlack;
    src: url('/frima_font/BRFirma-Black.ttf');
    font-weight: 400;
}