/* COLORS */
$nav-links-color: #8A8E9E;
$nav-links-hover-color: #FFFFFF;
$header-text-color: #FFFFFF;
$subheader-text-color: #A6C7DB;
$platform-link-color: #DF5082;
$button-color: #FFFFFF;
$maker1-color: #DF5082;
$marker2-color: #4BDAA6;
$marker3-color: #FFAC42;
$marker4-color: #6869D9;
$marker5-color: #EF5EA2;
$nav-menu-color: #FFFFFF;
$footer-first-color: #FEFAE2;
$footer-second-color: #A9C7DB;
/* FONTS SIZE */
$nav-link-size: 16px;
$big-header-size: 84px;
$big-subheader-size: 24px;
$normal-header-size: 56px;
$normal-subheader-size: 18px;
$platform-link-size: 24px;
$nav-button-size: 12px;
$drop-down-menu-size: 16px;

$mobile-nav-link-size: 14px;
$mobile-big-header-size: 54px;
$mobile-big-subheader-size: 18px;
$mobile-normal-header-size: 36px;
$mobile-normal-subheader-size: 16px;
$mobile-platform-link-size: 14px;
$mobile-nav-button-size: 12px;
$mobile-drop-down-menu-size: 14px;
/* BUTTONS BACKGROUND*/
$button-background: linear-gradient(130deg, rgba(218,93,167,1) 0%, rgba(160,92,181,1) 35%, rgba(118,103,210,1) 100%);
$drop-down-menu-background: #0E122F;
$footer-background: #16161F;
$footer-button-background: #D55492;